.featured {
    &__header {
        font-size: 3rem;
        text-align: center;
    }

    &__items {
        display: flex;
        height: 600px;
        overflow-x: scroll;
        flex-wrap: wrap;

        @include for-tablet-portrait {
            flex-wrap: nowrap;
        }
    }

    &__card {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: url('https://wallpapercave.com/wp/wp12200642.png');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-filter: brightness(50%);
        transition: all 1s ease;
        border: 1px solid rgb(166, 166, 166);

        &:hover {
            -webkit-filter: brightness(100%);
        }

        &:hover .featured__text {
            top: 60px;
            font-size: 5rem;
        }
    }

    &__img-container {
        height: 600px;
        display: flex;
        justify-content: center;
        transition: ease-in-out 0.3s;

        &:hover {
            height: 2200px;
        }
    }

    &__img {
        width: 100%;
        object-fit: cover;
        transition: ease-in-out 0.3s;
    }

    &__text {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        z-index: 1;
        font-size: 2rem;
        font-weight: bold;
        transition: ease-in-out 0.3s;
    }
}