.order {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background ;

    &__container {
        width: 80%;
        height: 77vh;
        border: 1px solid rgb(244, 244, 245);
        border-radius: 15px;
        background-color: white;
        margin: 20px 0 20px 0;
        display: flex;
        align-items: center;
        // justify-content: center;
        flex-direction: column;
        overflow: scroll;
    }

    &__section-title {
        width: 100%;
        margin: 10px 0 10px 0;
        // text-align: center;
    }

    &__section {
        width: 95%;
    }

    &__panel {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: rgb(244, 244, 245);
        align-items: center;
        justify-content: center;
        height: 100%;
        overflow: scroll;

        @include for-tablet-portrait {
            flex-direction: row;
            max-height: 450px;
        }
    }

    &__panel-left {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        background-color: white;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        overflow: scroll;
        margin-top: 10px;
        max-height: 300px;

        &::-webkit-scrollbar {
            display: none;
        }

        @include for-tablet-portrait {
            margin: 10px 0 10px 10px;
            width: 30%;
            max-height: 390px;
            min-height: 365px;
        }
    }

    &__panel-left-title {
        font-size: 1.3rem;
        font-weight: 400;
        text-align: center;
        margin: 10px 0 30px 0;
    }

    &__panel-left-icons-cntr {
        display: flex;
        align-items: center;
    }

    &__panel-left-icons {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    &__panel-left-img {
        width: 80px;
    }

    &__panel-left-quantity {
        font-size: 0.8rem;
        margin-right: 5px;
        color: black;
        opacity: 0.8;
    }

    &__panel-right {
        width: 90%;
        background-color: white;
        border-radius: 10px;
        padding: 20px;
        margin: 10px 10px 10px 0;
    }


    &__panel-right-title {
        font-size: 1.8rem;
    }

    &__panel-right-subtitle {
        color: rgb(99, 99, 99);
    }

    &__panel-right-userinfo {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 10px 0 10px 0;
        padding: 20px 0 20px 0;
    }

    &__panel-right-userinfo-item {
        display: flex;
        width: 40%;
        align-items: center;
    }

    &__panel-right-section-two {
        // display: flex;
        // justify-content: space-between;
        padding: 20px 0 20px 0;
        align-items: center;
        margin: 10px 0 10px 0;
    }

    &__panel-right-orderinfo {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__panel-right-orderinfo-item {
        display: flex;
        flex-direction: column;
        width: 33%;
        text-align: center;
    }

    &__panel-right-orderinfo-text {
        font-size: 1rem;
        font-weight: 500;
    }

    &__panel-right-orderinfo-value {
        font-size: 1.1rem;
        font-weight: 300;
    }


    &__panel-right-section-three {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 10px 0 10px 0
    }

    &__panel-right-section-three-slider {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.mydivider-admin {
    rotate: 90deg;
    width: 60px !important;
}