.bar-container {}

.shopping {
    &__header {
        display: flex;
        height: 80px;
        width: 100%;
        align-items: center;
        justify-content: space-between;

    }

    &__title {
        display: flex;
        align-items: center;
    }

    &__img-container {
        width: 40px;
        margin: 0 10px 0 25px;

        @include for-tablet-landscape {
            margin: 0 20px 0 100px;
        }
    }

    &__text-container {
        margin-left: 20px;
    }

    &__text {
        font-size: 2rem;
        font-weight: 200;
    }

    &__topkmlist {
        margin-right: 25px;

        @include for-tablet-landscape {
            margin-right: 100px;
        }

    }

    &__topkmlist-text {
        color: rgb(0, 128, 255);
        font-size: 1.2rem;
    }
}

.table-sidebar {
    display: flex;
    background-color: rgb(241, 241, 241);
    height: 590px;
    flex-direction: column;

    @include for-tablet-landscape {
        flex-direction: row;
    }
}

.mytable {
    width: 100%;
    overflow: scroll;
    height: 100%;

    &::-webkit-scrollbar {
        display: none;
    }

    @include for-tablet-landscape {
        width: 70%;
        height: 590px;
        overflow: scroll;
        display: block;
    }
}

.shopping {
    width: 100%;
    margin-bottom: 30px;
}

.item {
    &__container {
        width: 90%;
        display: flex;
        margin-top: 30px;
        margin-left: 25px;
        margin-right: 10px;
        align-items: center;
        background-color: rgb(233, 233, 233);

        @include for-tablet-landscape {
            width: 80%;
            margin: 30px 0 0 100px;
            align-items: center;
        }
    }

    &__image-container {
        width: 100%;

        @include for-tablet-landscape {
            width: 50%;
        }
    }

    &__image {
        width: 100%;
    }

    &__info {
        display: flex;
        justify-content: space-evenly;
        width: 80%;
        align-items: center;
    }

    &__name-container {
        text-wrap: wrap;
    }

    &__name {
        font-size: 1.5rem;

        @include for-tablet-landscape {
            font-size: 2rem;
        }
    }

    &__quantity {
        display: flex;
        align-items: center;
    }

    &__quantity-number {
        margin-right: 10px;
    }

    &__quantity-buttons {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }

    &__price-container {}

    &__price {}
}

.btn-cart {
    background-color: black;
    width: 20px;
    height: 20px;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.2;
    transition: ease-in-out 0.2s;

    &:hover {
        opacity: 1;
    }
}

.sidebar {

    background: rgb(113, 111, 111);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px -10px 29px -3px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px -10px 29px -3px rgba(0, 0, 0, 0.6);
    box-shadow: 0px -10px 29px -3px rgba(0, 0, 0, 0.6);

    @include for-tablet-landscape {
        width: 25%;
        margin-left: 75px;
        -webkit-box-shadow: -12px 2px 20px -6px rgba(171, 171, 171, 1);
        -moz-box-shadow: -12px 2px 20px -6px rgba(171, 171, 171, 1);
        box-shadow: -12px 2px 20px -6px rgba(171, 171, 171, 1);
    }

    &__title {
        font-size: 1.8rem;
        font-weight: bold;
        color: rgb(252, 210, 3);

        @include for-tablet-landscape {
            font-size: 3rem;
        }
    }

    &__total {
        font-size: 1.8rem;
        font-weight: bold;
        color: rgb(255, 255, 255);

        @include for-tablet-landscape {
            font-size: 3rem;
        }
    }

    &__button {
        width: 100%;
        background-color: rgb(49, 190, 49);
        height: 60px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: auto;
    }

    &__btn-tocheckout {
        font-size: 1rem;
        font-weight: bold;
        width: 100%;

        @include for-tablet-landscape {
            font-size: 1.2rem;
        }

    }

}