.checkout {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(241, 241, 241);

    @include for-tablet-portrait {
        flex-direction: row-reverse;
    }


    &__summary {
        background-color: white;
        width: 95%;
        margin: 30px 100px 10px 10px;
        border-radius: 10px;
        padding-top: 25px;
        height: 100%;
        -webkit-box-shadow: 0px 0px 17px -6px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 17px -6px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 17px -6px rgba(0, 0, 0, 0.75);

        @include for-tablet-portrait {
            width: 50%;
            margin: 30px 20px 10px 10px;
        }

        @include for-tablet-landscape {
            width: 30%;
            margin: 30px 20px 10px 10px;
        }
    }

    &__title {
        font-size: 1.5rem;
        margin-bottom: 8px;
        padding-left: 25px;
    }

    &__table-container {
        width: 100%;
        padding-left: 25px;
    }

    &__table {
        width: 100%;
        color: rgb(114, 114, 114);
    }

    &__item-container {
        padding: 1px 0;
    }

    &__info-quantity {
        width: 8%;
    }

    &__info-name {
        width: 70%;
    }


    &__info-price {
        width: 18%;

        @include for-tablet-portrait {
            width: 40%;
        }
    }

    &__divider {
        margin: 15px 0 15px 0;
    }

    &__shipping {
        padding: 0 25px 0 25px;
        width: 100%;
    }

    &__shipping-info {
        display: flex;
        justify-content: space-between;
        color: rgb(114, 114, 114);
        margin-bottom: 4px;
    }

    &__forms {
        width: 95%;
        margin: 30px 100px 10px 10px;
        background-color: white;
        border-radius: 10px;
        -webkit-box-shadow: 0px 0px 17px -6px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 17px -6px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 17px -6px rgba(0, 0, 0, 0.75);

        @include for-tablet-portrait {
            width: 80%;
            margin: 30px 25px 30px 25px;
        }

    }

    &__total {
        padding: 0 25px 0 25px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        margin-bottom: 25px;
    }
}

.forms {
    &__title {
        font-size: 2rem;
        font-weight: 500;
        margin: 20px 0 0 35px;
    }

    &__header {
        display: flex;
        align-items: center;
        margin: 40px 0 0 50px;
    }

    &__header-number {
        width: 20px;
        height: 20px;
        color: white;
        background-color: black;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__header-text {
        font-weight: bolder;
        margin-left: 10px;
    }

    &__name-lastname {
        display: flex;
        margin-top: 30px;
        gap: 50px;
    }

    &__shipping-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__creditcard-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__myinput {
        @include for-pc {
            width: 400px !important;
        }
    }

    &__country-phone {
        display: flex;
        margin-top: 30px;
        gap: 50px;
        width: 410px;

        @include for-pc {
            width: auto;
        }
    }

    &__select {
        width: 400px;
        background-color: #F4F4F5;
        --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        border-radius: 10px;
        color: #71717A;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 15px 0 8px;

        @include for-tablet-portrait {
            width: 400px;
            margin: 0;
        }
    }

    &__select-input {
        background-color: #F4F4F5;
        width: 100%;
        height: 90%;
        border-radius: 10px;
        font-weight: 400;
        font-size: 0.9rem;
    }

    &__city-state-zip {
        display: flex;
        margin-top: 30px;
        gap: 15px;
        padding: 0 40px 0 40px;
        width: 490px;

        @include for-tablet-landscape {
            gap: 50px;
            padding: 0;
            width: auto;
        }
    }

    &__myinput-three {

        @include for-pc {
            width: 250px !important;
        }
    }

    &__address {
        margin-top: 30px;
        width: 81%;
    }

    &__img {
        width: 15px;
        height: 15px;
        opacity: 0.8;
        margin-left: 8px;
    }

    &__creditcard {

        margin-top: 30px;
        width: 81%;
    }

    &__security-expiration {
        display: flex;
        margin-top: 30px;
        gap: 50px;
    }

    &__buttons {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 40px;
        margin: 40px 0 30px 0;
    }

    &__label {
        color: black;
    }

    &__select-input {
        color: black;
    }
}

.applepay {
    filter: invert(1);
    width: 35px;
    height: 35px;
}

.forms__myinput label,
.forms__myinput-one label,
.forms__myinput-two label,
.forms__myinput-three label {
    color: black;
}