.pkm {
    display: flex;
    flex-direction: column;
    border: 1.3px solid rgb(211, 210, 210);
    width: 44%;
    border-radius: 10px;
    margin: 30px 10px 0 10px;


    &__img-container {
        padding: 20px;
    }

    &__img {
        width: 100%;
        transition: ease-in-out 0.3s;

        @include for-pc {
            &:hover {
                opacity: 0.6;
            }
        }
    }

    &__details {
        padding: 10px;
    }

    &__head {
        width: 100%;
    }

    &__head-title {
        font-size: 1.5rem;
        color: rgb(122, 129, 129);
        margin-bottom: 10px;
    }

    &__head-number {
        font-size: 0.9rem;
    }

    &__content {
        display: none;
        justify-content: space-between;
        font-size: 0.9rem;

        @include for-phone-only {
            display: flex;
        }
    }

    &__pricing {
        display: flex;
        flex-direction: column;
    }

    &__total {
        font-size: 1.8rem;
        color: rgb(23, 122, 202);
    }

    &__save {
        color: rgb(2, 109, 196);
    }


    @include for-tablet-portrait {
        width: 30%;
    }

    @include for-tablet-landscape {
        width: 20%;
    }

    @include for-pc {
        width: 18%;
    }
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
    position: absolute;
    z-index: 1;
    background-color: #555;
    color: #fff;
    padding: 5px;
    border-radius: 6px;
}

.tooltip.active .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.mybtn {
    background-color: rgb(19, 245, 49);
    color: white;
    width: 50%;
    border-radius: 4px;
    position: absolute;
    margin-top: 5px;

    &__container {
        display: flex;
        justify-content: center;
        margin: 20px 0 20px 0;
    }
}