.list-container {
    width: 100%;
    display: flex;
    justify-content: center;


}

.list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.mypag-btn {
    margin: 15px 0px 0 40px;
}