.admin {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    &__button {
        width: 10%;
    }

    &__table {
        width: 90%;
    }
}

.my__table {
    max-height: 75vh;
    overflow: scroll;
    margin: 10px 0 10px 0;
}

.modal {
    &__header {
        text-align: center;
        background-color: black;
        color: white;
    }

    &__title {
        font-size: 1.5rem;
        margin-top: 40px;
        text-align: center;
    }

    &__content {
        font-size: 1rem;
        margin-top: 20px;
        text-align: center;
    }
}

.admin__modal {
    width: 90%;
    max-height: 40rem;
    overflow-y: auto !important;
}

.pokemon {
    &__type-weight-height {
        display: flex;
        gap: 10px;
    }

    &__money {
        display: flex;
        gap: 10px;
    }
}

.input label {
    color: black;
}